.dark_mode_label {
  width: 45px;
  height: 20px;
  position: relative;
  display: block;
  background: #ececec;
  border-radius: 200px;
  cursor: pointer;
  transition: 0.3s;
  margin-right: 14px;
}
.dark_mode_label:after {
  content: "";
  width: 15px;
  height: 15px;
  position: absolute;
  top: 2.5px;
  left: 3px;
  background: var(--accent-color);
  border-radius: 180px;
  transition: 0.3s;
}
.dark_mode_input {
  width: 0;
  height: 0;
  visibility: hidden;
}
.dark_mode_input:checked + .dark_mode_label {
  background: var(--accent-color);
}
.dark_mode_input:checked + .dark_mode_label:after {
  left: 42px;
  transform: translateX(-100%);
  background: #fff;
}
.dark_mode_label:active:after {
  width: 20px;
}
.theme-toggle {
  background-color: var(--background-color);
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border-radius: 2px;
}
.theme-icon-sun {
  width: 19px;
  height: 19px;
}
.theme-icon-moon {
  width: 18px;
  height: 18px;
}
