.card-task {
  width: 100%;
  background-color: var(--primary-color);
  border-radius: 8px;
  padding: 15px;
  margin: 20px 0;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  cursor: pointer;
}
.card-task .title {
  font-size: 17px;
  font-weight: 600;
  text-wrap: wrap;
}
.card-task .sub-tasks {
  font-size: 14px;
  color: var(--subtext-color);
  font-weight: 600;
}

.card_details {
  padding: 5px;
}
.card_details .title {
  font-size: 22px;
  font-weight: 600;
}
.card_details .descriptions {
  font-size: 15px;
  color: var(--subtext-color);
  margin-top: 15px;
}
.card_details .subtasks {
  font-size: 15px;
  margin-top: 15px;
}
.sub-title-card {
  margin: 10px 0;
  background-color: var(--background-color);
}
.crossed {
  text-decoration: line-through;
}
